body{
    margin: 0px;
    font-family: Inter;
    font-size: 1vw;
}

.root{
    width: 100vw;
    height: 100vh;
    background-color: #FBEECC;
}

.root-home{
    width: 100vw;
    background-color: #FBEECC;
}

.root-index{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #FBEECC;
}

.footer{
    height: 10vh;
    width: 100%;
    background-color: #f0c687;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

/* --------------------- FRONT PAGE STARTS -------------------- */

#front-login-btn{
    background-color: green;
    border-color: green;
    margin-left: 52vw;
    font-weight: 900;
    border-radius: 10px;
}

/* --------------------- FRONT PAGE ENDS -------------------- */


/* -------------------- LOGIN PAGE STARTS---------------------*/

#muj-logo-area{
    background-image: url(Assets/muj-logo-nobg.png);
    background-color: #FBEECC;
    background-size: contain;
    height: 200px;
    width: 200px;   
    border-radius: 50%;
    position: absolute; 
    margin-bottom: 500px;
}

#signup-login-area{
    width: 35vw;
    height: 60vh;
    background-color: #f0c687;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border-radius: 20px;   
    padding-bottom: 20px;
}

.signup-login-increase-area{
    padding-bottom: 50px !important;
}

#signup-login-area label{
    font-size: 20px;
}

#signup-login-area input{
    font-size: 15px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    border-style: none; 
}

#signup-login-area button{
    width: 100%;
    font-weight: 900;
    font-size: 15px;
    margin-top: 30px; 
    height: 40px;  
    background-color: rgb(11, 197, 11);
    border-style: none; 
    border-radius: 10px;
}

#login-btn:hover{
    cursor: pointer;
}

#login-form{
    margin-top: 100px;  
}

#signup-form{
    margin-top: 150px;
    position: absolute;
    visibility: hidden;
}

#signup-btn:hover{
    cursor: pointer;
}

#login-form, #signup-form a:hover{
    cursor: pointer;
}

.hidden{
    visibility: hidden !important;
}

.visible{
    visibility: visible !important;
}

/* -------------------- LOGIN PAGE STARTS---------------------*/
/*  */
/*  */
/*  */
/* -------------------- NAV BAR STARTS ---------------------*/
.navbar{
    background-color: #f0c687;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.navbar ul li{
    margin-right: 50px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    white-space: nowrap;
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    padding-bottom: 4.2vh;
}

.active-link{
    border-bottom: 2px solid black;
}

#logout-btn{
    background-color: red;
    border-color: red;
    margin-left: 58vw;
    font-weight: 900;
    border-radius: 50px;
}

#logout-btn:hover{
    cursor: pointer;
}

/* -------------------- NAV BAR ENDS---------------------*/
/*  */
/*  */
/*  */
/* -------------------- PLACEMENT STATS STARTS ---------------------*/

#placement-chart-img{
    height: 54%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#placement-chart-img img{
    max-height: 100%;
    max-width: 100%;
}

#placement-overview-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#placement-overview-table{
    border-collapse: collapse;
    font-size: 1vw;
    width: 64%;
    table-layout: fixed;
}

#placement-overview-table table, th, td{
    border: 2px solid;
    text-align: center;
    padding: 10px;  
}

#recruiter-table{
    border-collapse: collapse;
    width: 64%;
    margin-top: 60px;
    font-size: 1vw;
    table-layout: fixed;
}

#recruiter-table table, th, td{
    border: 2px solid;
    text-align: center;
    padding: 10px;  
    height: 100px;
}


/* -------------------- PLACEMENT STATS ENDS---------------------*/

/* -------------------- USER HOME START---------------------*/

#job-post-area{
    margin-top: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#job-post-cards-area{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.job-card{
    height: 35vh;
    width: 40vh;
    background-color: #f0c687;
    border: 2px solid black;    
    margin: 20px;   
}

.company-name{
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-description{
    text-align: center;
}

.apply-btn-div{
    box-sizing: border-box;   
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.apply-btn{
    display: flex;
    align-items: center;
    justify-content: center ;
}

/* -------------------- USER HOME START---------------------*/

/* -------------------- USER ADMIN START---------------------*/

#add-job-posting-btn{
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
}

#new-post-form-area{
    height: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    visibility: hidden;
    position: absolute;
}

#new-post-form{
    text-align: center;
    position: absolute;
    border: 2px solid black;
    padding: 50px;
    line-height: 50px;
    background-color: #FBEECC;
}

/* -------------------- USER ADMIN END---------------------*/


/* -------------------- CONTACT US STARTS ---------------------*/

.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    line-height: 4vh;
}

.space-top-contact-us{
    margin-top: 50px;
}

.contact-details-basic{
    width: 70%;
    border: 2px solid black;
    text-align: center;
    padding: 50px;
}

#contact-text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact-text-div p{
    width: 75%;
    border-left: 10px solid orange;
    padding-left: 20px;
}

.seperation-line{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    width: 60%;
    border: none;   
    background-color: black;
}

/* -------------------- CONTACT US ENDS ---------------------*/


